body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/684/073/non_2x/autumn-leaves-background-free-photo.jpg'); /* Změňte cestu k vašemu obrázku */;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* -------------------------------------------------------------------------------------------------*/
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: red;
  }
  /* -------------------------------------------------------------------------------------------------*/
  
  /* Moderní podzimní styl pro formulář */
  form {
  text-align: center;
  margin: 15px 150px;
  background-color: rgba(0, 0, 0, 0.65); /* Průhledná šedá barva pozadí (RGBA) */
  padding: 50px 0px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(102, 12, 0, 0.2); /* Hnědý odstín stínu */
  color: #333; /* Černá barva textu */
}

form label {
  
  color: transparent;
  background: #e63601; /* Barva pozadí popisku */
  background-clip: text;
  -webkit-background-clip: text;
  animation: text-shadow-flicker 3s infinite;
}

form input[type="text"],
form select,
form input[type="datetime-local"] {
  margin: 10px;
  padding: 10px;
  background-color: rgba(244, 244, 244, 0.9); /* Průhledná šedá barva pro vstupy (RGBA) */
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

form button {
  margin: 10px;
  padding: 10px;
  background-color: #af5b06; /* Hnědá barva pro tlačítko */
  color: #fff; /* Bílá barva textu tlačítka */
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s;
}

form button:hover {
  border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(255,255,255,0.1),
			   1px -1px 4px 1px rgba(255,255,0,1),
			  1px -1px 12px 3px rgba(255,125,0,1),
				1px -1px 30px 4px rgba(255,0,0,1);
				transition: 0.1s ease-in; 
}

/* Klíčové snímky pro animaci podzimního efektu */
@keyframes autumn-fall {
  0% {
      transform: translateY(-30px);
  }
  100% {
      transform: translateY(0);
  }
}
/* -------------------------------------------------------------------------------------------------*/
/* Animace pro vstupy */
form input[type="text"],
form input[type="date"],
form select {
  animation: autumn-fall 0.5s ease;
}

/* --------------------------------------------------STYL TABULKY--------------------------------------------- */

.task-tables {
  display: flex;
  justify-content: space-between;
}

#doneTable,
#todoTable {
    border-collapse: collapse; /* Odstranění mezery mezi buňkami tabulky */
    width: 100%;
    margin: 10px;
    background: rgba(63, 19, 5, 0.8); /* Průhledné pozadí s bílou barvou */
    box-shadow: 0 0 10px rgba(102, 12, 0, 0.2);
    border-radius: 10px; /* Zaoblené okraje pro tabulku */
}


#doneTable th,
#todoTable th {
    background-color: #cf2608; /* Barva pozadí záhlaví tabulky */
    color: white; /* Bílá barva textu v záhlaví tabulky */
    text-align: left;
    border-top-left-radius: 10px; /* Zaoblený horní levý roh záhlaví tabulky */
    border-top-right-radius: 10px; /* Zaoblený horní pravý roh záhlaví tabulky */
    box-shadow: 0 5px 4px -2px rgb(56, 8, 8);
}

#doneTable th,
#doneTable td,
#todoTable th,
#todoTable td {
    padding: 10px; /* Odsazení buněk tabulky */
}

#doneTable tr:nth-child(even),
#todoTable tr:nth-child(even) {
    color:#fff;
    border-bottom-left-radius: 10px; /* Zaoblený horní levý roh záhlaví tabulky */
    border-bottom-right-radius: 10px; /* Zaoblený horní pravý roh záhlaví tabulky */
  }
  /* background-color: #cf2608; */
  
  #doneTable tr:nth-child(odd),
  #todoTable tr:nth-child(odd) {
    color:#fff;
}

#todoTable tbody tr:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


#doneTable::before {
  top: 0;
  left: 0;
  animation: fall-leaves-left 10s linear infinite;
}

#todoTable::before {
  top: 0;
  right: 0;
  animation: fall-leaves-right 10s linear infinite;
}
/* --------------------------------------------------KONEC STYL TABULKY--------------------------------------------- */



/*  --------------------------------------------------------Styl pro tlačítka -------------------------------------------------------- */
.tlacitkoToDo {
  float: left; /* Levá strana */
  margin: 0 100px; /* Mezera mezi tlačítky */
}

.tlacitkoDone {
  float: right; /* Pravá strana */
  margin: 0 90px; /* Mezera mezi tlačítky */
}
button#toggleTasksButton,
button#checkAllTodoButton,
button#uncheckAllTodoButton,
button#checkAllDoneButton,
button#uncheckAllDoneButton,
button#deleteSelected {
  background-color: rgb(158, 38, 8); 
  color: #e2be46;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
    margin: 10px ;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button#toggleTasksButton:hover, 
  button#checkAllTodoButton:hover,
button#uncheckAllTodoButton:hover,
button#checkAllDoneButton:hover,
button#uncheckAllDoneButton:hover,
button#deleteSelected:hover{
  border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(255,255,255,0.1),
              1px -1px 4px 1px rgba(255,255,0,1),
              1px -1px 12px 3px rgba(255,125,0,1),
              1px -1px 30px 4px rgba(255,0,0,1);
              transition: 0.1s ease-in; 
            }
            /* -----------------------------------------------konec styl pro tlačítka-------------------------------- */

              /* -----------------------------------------------NOTIFIKACE-------------------------------- */
            .buttonNot button {
              background-color: rgb(158, 38, 8); 
              color: #e2be46;
              border-radius: 5px;
              border: 0;
              outline: 0;
              width: 120px;
              height: 40px;
              margin: 5px 60px;
              cursor: pointer;
                }
                .buttonNot button:hover{
                  border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(255,255,255,0.1),
              1px -1px 4px 1px rgba(255,255,0,1),
              1px -1px 12px 3px rgba(255,125,0,1),
              1px -1px 30px 4px rgba(255,0,0,1);
              transition: 0.1s ease-in; 

                }
                #notification{
                  position: absolute;
                  bottom: 30px;
                  right: 30px;
                  display: flex;
                  align-items: flex-end;
                  flex-direction: column;
                  overflow: hidden;
                  padding: 20px;
                }
                .notific{
                  width: 400px;
                  height: 80px;
                  background: #fff;
                  border-radius: 5px;
                  font-weight: 500;
                  margin: 15px 0;
                  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
                  display: flex;
                  align-items: center;
                  position: relative;
                  transform: translateX(100%);
                  animation: moveleft 0.5s linear forwards;            
                }
                @keyframes moveleft{
                  100%{
                    transform: translateX(0);
                  }
                }
                .notific i{
                  margin: 0 20px;
                  font-size: 35px;
                  color: orangered;
                } 
                .notific::after{
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  height: 5px;
                  border-radius: 5px;
                  background: orangered;
                  animation: anim 5s linear forwards;
                }
          @keyframes anim {
            100%{
              width: 0;
            }
          }
                /* -----------------------------------------------KONEC NOTIFIKACE-------------------------------- */
/*--------tlačítko odhlásit se */
  #logout{
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgb(182, 22, 11); 
  color: #e2be46;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
    margin: 10px ;
    cursor: pointer;
    transition: background-color 0.3s;
}
button#logout:hover{
  border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(255,255,255,0.1),
              1px -1px 4px 1px rgba(255,255,0,1),
              1px -1px 12px 3px rgba(255,125,0,1),
              1px -1px 30px 4px rgba(255,0,0,1);
              transition: 0.1s ease-in; 
}
/*--------konec tlačítka odhlásit se */

/* Vzhled kalendáře v otevřeném stavu */
input[type="datetime-local"]:focus {
  box-shadow: 0 0 5px #be2409; /* Stín při zaměření */
}

/* Barva dnů v kalendáři */
input[type="datetime-local"]::-webkit-datetime-edit-text,
input[type="datetime-local"]::-webkit-datetime-edit-day-field,
input[type="datetime-local"]::-webkit-datetime-edit-month-field,
input[type="datetime-local"]::-webkit-datetime-edit-time-field,
input[type="datetime-local"]::-webkit-datetime-edit-year-field,
input[type="datetime-local"]::-webkit-datetime-edit-hour-field,
input[type="datetime-local"]::-webkit-datetime-edit-minute-field {
  color: #dd0f08; /*barva písma dnů v kalendáři */
}


/* Vzhled šipek pro změnu hodnot kalendáře */
input[type="datetime-local"]::-webkit-clear-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-inner-spin-button {
  filter: invert(0.8); /* Invertuje barvy šipek */
}